.db-wrapper {
    width: 100%;
     /* 不超过 600px ,如果超过600px,就是600px,否则 100%*/
    max-width: 600px;
    margin: 0 auto;
}
/* 01. */
.db-header {
    width: 100%;
    height: 50px;
    /* 固定定位  脱离正常文档流 */
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
}
.db-header .db-header-box {
    width: 100%;
    /* max-width: 600px; */
    height: 50px;
    background-color: #fff;
    margin: 0 auto;
    /* 弹性盒子 */
    display: flex;
}
.db-header .db-header-box .db-logo {
    display: block;
    width: 80px;
    /* padding: 0 15px; */
    height: 50px;
    background-image: url(../img/logo.png);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
}
.db-header .db-header-box form {
    flex: auto;
    height: 50px;
    line-height: 50px;
}
.db-header .db-header-box form input {
    width: 100%;
    height: 30px;
    border-radius: 15px;
    vertical-align: middle;
    padding: 0 0 0 26px;
    background-color: #f7f7f7;
}
.db-header .db-header-box .db-cancel {
    display: block;
    width: 80px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 14px;
}

/* 02. */
.db-link {
    margin-top: 50px;
    width:100%;
    /* max-width: 600px; */
    height: 60px;
    /* 弹性盒子 */
    display: flex;
    /* 背景色 */
    background-color: #f7f7f7;
}
.db-link .db-link-left {
    flex: auto;
    padding-left: 18px;
}

.db-link .db-link-left .img-box {
    width: 40px;
    height: 40px;
    float: left;
    margin-top: 10px;
}
.db-link .db-link-left .img-box img {
    width: 40px;
    height: 40px;
}
.db-link .db-link-left .txt-box {
    float: left;
    padding: 10px 0 0 10px;
}
.db-link .db-link-left .txt-box h3 {
    font-weight: bold;
    font-size: 14px;
    color: #333;
}
.db-link .db-link-left .txt-box p  {
    font-size: 14px;
}

/* 下载按钮 */
.db-link .db-link-right  {
    width: 120px;
    height: 60px;
    text-align: center;
    line-height: 60px;
}
.db-link .db-link-right .btn-download {
    width: 80px;
    height: 28px;
    background-color: #42bd56;
    color: white;
    border-radius: 14px;
    vertical-align: middle;
}

/* 03. */
.db-nav {
    width: 100%;
    /* max-width: 600px; */
    padding: 15px 18px;
    
}
.db-nav ul {
    width: 100%;
    /* 弹性盒子 */
    display: flex;
    /* 换行 */
    flex-wrap: wrap;
}
.db-nav ul li {
    width: 33.3333%;
    border: 1px solid #ccc;
    padding: 20px 0 15px;
    text-align: center;
}
.db-nav ul li:nth-of-type(1) {
    border-top-left-radius: 10px;
}
.db-nav ul li:nth-of-type(2) {
    border-left: 1px solid transparent;
}
.db-nav ul li:nth-of-type(3) {
    border-top-right-radius: 10px;
    border-left: 1px solid transparent;
}
.db-nav ul li:nth-of-type(4) {
    border-bottom-left-radius: 10px;
    border-top: 1px solid transparent;
    margin-top: -1px;
}
.db-nav ul li:nth-of-type(6) {
    border-bottom-right-radius: 10px;
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;
    margin-top: -1px;
}
.db-nav ul li:nth-of-type(5) {
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;
    margin-top: -1px;
}

.db-nav ul li h3 {
    font-size: 16px;
}
.db-nav ul li p {
    font-size: 14px;
    color: #666;
}
.db-nav ul li:nth-of-type(1) h3 {
    color: #2393ed;
}
.db-nav ul li:nth-of-type(2) h3 {
    color: #7a6adb;
}
.db-nav ul li:nth-of-type(3) h3 {
    color: #b77860;
}

/* 4.0 */
.db-bangdan {
    width: 100%;
    max-width: 600px;
    height: 38px;
    line-height: 38px;

    /* 弹性盒子 */
    display: flex;
    /* 内边距 */
    padding: 0 15px;
    /* 盒子模型 */
    /* 改变盒子大小的计算方式 */
    box-sizing: border-box;
}
.db-bangdan .db-bangdan-left {
    flex: 1;
    text-align: left;
}
.db-bangdan .db-bangdan-right {
    flex: 1;
    text-align: right;
}
.db-bangdan .db-bangdan-right a {
    color: #000;
}

/* 5.0 */
/* 不建议选择器嵌套太多 */
.db-list {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    /* 内边距 */
    padding: 15px 15px;
    box-sizing: border-box;
}

#list_item {
    width: 100%;
    min-height: 100px;
    border:1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
    /* 设置相对定位 */
    position: relative;
}
#list_item a {
    /* display: block; */
    display: flex;
}
#list_item a .img-left {
    width: 100px;
    height: 100px;
    /* background-image: url(../img/top250.jpg); */
}
#list_item a .txt-right {
    flex:auto;
    min-height: 100px;
    background-image: url(../img/bg_pic.jpg);
    /*设置背景图的尺寸 */
    background-size: 100% ;
    background-position: center;
}
#list_item a .txt-right p {
    color: white;
    padding-left:20px;
}
#list_item a .txt-right p:first-child {
    margin-top: 20px;
}
#list_item a .txt-right p span {
    color: #aa882d;
    margin-left: 5px;
}
#list_item .btn-app {
    position: absolute;
    right: 10px;
    top: 38px;
    height: 24px;
    background-color: transparent;
    border: 1px solid #ccc;
    color: #ccc;
    border-radius: 12px;
}

/* 6.0 */
.db-footer {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 0 15px;
    box-sizing: border-box;
}
.db-footer .btn-down-load {
    width: 100%;
    height: 38px;
    border-radius: 19px;
    font-size: 18px;
    color: white;
    background-color: #42bd56;
}